.container{
  float: left;
  margin: 10px;
  
  
}
.right{
  float: left;
  margin: 10px;
color: rgb(16, 16, 16);
font-size: 20px;
  font-weight:bold;
}
.radio {
  width: 20px;
  position: relative;
}
.radio label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 3px 3px 9px rgba(0,0,0,0.5);
  border: 1px solid black;
}
.radio label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  border: 6px solid rgb(11, 11, 11);
  border-radius: 50px;
  opacity: 0;
  }
.radio label:hover::after {
  opacity: 0.3;
  }
.radio input[type=radio] {
  visibility: hidden;
}
.radio input[type=radio]:checked + label:after {
   opacity: 1;
  }  
  

  
  table.center {
    margin-left:auto; 
    margin-right:auto;
    height: 100%;
    position: relative;
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
  }

.piechart {
    border: 1px solid #ccc;
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25 px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.barchart {
    border: 1px solid #ccc;
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25 px rgba(0,0,0,0.08);
    border-radius: 20px;
}


